Repository vibebiz/vibebiz-saas-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc-noemit, spectral-lint

Path conditions:
  tsc-noemit: any of: \.(ts|mts|cts)$, \.tsx$
  spectral-lint: any of: \.(yaml|yml|json)$

chore: add CI/CD setup with test workflow, config freezing, and pre-commit hooks
  .github/workflows/test.yml
  .gitleaks.toml
  .pre-commit-config.yaml
  scripts/freeze_config.sh
  scripts/run-all-tests.sh
Due: spectral-lint

chore: add project configuration files for markdown linting and commit message standards
  .markdownlint.json
  commitlint.config.js
  pyproject.toml
Due: spectral-lint

chore: disable enforce-main-source GitHub workflow by renaming file
  .github/workflows/enforce-main-source.yml.disabled
Due: none

ci: remove pnpm version constraint and add ruff linter dependency
  .github/workflows/test.yml
Due: spectral-lint

ci: optimize GitHub Actions workflow with pnpm caching and better setup order
  .github/workflows/test.yml
Due: spectral-lint

ci: add chmod step to make test scripts executable before running
  .github/workflows/test.yml
Due: spectral-lint

chore: remove services path from pytest test discovery config
  pytest.ini
Due: none

chore: remove packages/*/tests from pytest testpaths configuration
  pytest.ini
Due: none

ci: enhance test workflow with parallel TypeScript/Python jobs and security scans
  .github/workflows/test.yml
Due: spectral-lint

chore: update CI workflow to use latest pnpm and Python 3.12
  .github/workflows/test.yml
  pyproject.toml
Due: spectral-lint

refactor: replace any types with unknown for improved type safety in shared types
  packages/shared-types/src/index.ts
  pyproject.toml
Due: tsc-noemit

chore: remove combined coverage job and migrate security tests to uv package manager
  .github/workflows/test.yml
  pyproject.toml
Due: spectral-lint

style: format test assertions for better readability with line breaks
  pyproject.toml
Due: none

ci: replace black formatter with ruff format in test workflow
  .github/workflows/test.yml
  pyproject.toml
Due: spectral-lint

chore: add type hints to test functions and configure Git line endings
  .gitattributes
  pyproject.toml
  services/public-api/tests/test_utils.py
Due: none

chore: update pytest config to include python paths and fix section header
  pytest.ini
Due: none

chore: remove asyncio-mode flag from pytest configuration
  pyproject.toml
  pytest.ini
Due: none

chore: simplify python_paths configuration to single line in pytest.ini
  pytest.ini
Due: none

ci: move PYTHONPATH from pytest.ini to GitHub Actions environment variable
  .github/workflows/test.yml
  pytest.ini
Due: spectral-lint

chore: temporarily disable coverage thresholds to unblock CI pipeline
  pytest.ini
Due: none
