Repository vibebiz/vibebiz-saas-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: spectral-lint, tsc-noemit, safety-check, pnpm-audit

spectral-lint:
  name: Spectral API Linting
  description: Lints OpenAPI specs using Spectral, requires SPECTRAL_DSN in .env
  entry: tools/spectral-wrapper.sh
  language: script
  require_serial: true

tsc-noemit:
  name: TypeScript Type Check
  entry: npx tsc --project tsconfig.json --noEmit
  language: node
  pass_filenames: false
  stages:
  - pre-commit

safety-check:
  name: Python Dependency Security Check
  entry: safety check
  language: python
  require_serial: true
  pass_filenames: false
  additional_dependencies:
  - safety

pnpm-audit:
  name: Node.js Dependency Security Check
  entry: pnpm audit --audit-level=high
  language: system
  require_serial: true
  pass_filenames: false

refactor: reorganize scripts directory and update tool references
  .cursor/rules/base-rules.mdc
  .cursor/rules/monorepo-rules.mdc
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  docs/testing-strategy.md
  package.json
  pnpm-workspace.yaml
  scripts/freeze_config.sh
  scripts/git_cleanup.sh
  scripts/run-all-checks.sh
  scripts/run-all-tests.sh
  scripts/run-comprehensive-tests.sh
  scripts/security-env.sh
  scripts/security-scan.sh
  scripts/setup/README.md
  scripts/setup/build-packages.sh
  scripts/setup/check-prerequisites.sh
  scripts/setup/health-checks.sh
  scripts/setup/install-dependencies.sh
  scripts/setup/setup-database.sh
  scripts/setup/setup-env.sh
  scripts/setup/setup-linux.sh
  scripts/setup/setup-macos.sh
  scripts/setup/setup-security.sh
  scripts/setup/setup-tests.sh
  scripts/setup/setup-windows.sh
  scripts/setup/setup.sh
  scripts/spectral-wrapper.sh
Due: spectral-lint, pnpm-audit

chore: add type safety, standalone output, and improve Docker build process
  apps/public-web/Dockerfile
  apps/public-web/app/api/health/route.ts
  apps/public-web/app/layout.tsx
  apps/public-web/app/page.tsx
  apps/public-web/next.config.js
  apps/public-web/public/.gitkeep
  apps/public-web/src/components/Button.tsx
  scripts/setup/build-packages.sh
Due: tsc-noemit

chore: add security scan output files to gitignore and type cast password utils
  .gitignore
  health-check-report.txt
  services/public-api/src/api/utils.py
Due: safety-check

refactor: remove unnecessary type casting from password utils and add dev server startup script
  scripts/start-dev-server.sh
  services/public-api/src/api/utils.py
Due: safety-check

Add Semgrep CI
  .github/workflows/semgrep.yml
Due: spectral-lint

ci: add Semgrep security scanning workflow for automated code analysis
  .github/workflows/semgrep.yml
Due: spectral-lint

chore: add type safety, standalone output, and improve Docker build p… (#27)
  .github/workflows/semgrep.yml
  .gitignore
  apps/public-web/Dockerfile
  apps/public-web/app/api/health/route.ts
  apps/public-web/app/layout.tsx
  apps/public-web/app/page.tsx
  apps/public-web/next.config.js
  apps/public-web/public/.gitkeep
  apps/public-web/src/components/Button.tsx
  health-check-report.txt
  scripts/setup/build-packages.sh
  scripts/start-dev-server.sh
Due: spectral-lint, tsc-noemit

feat: add accessibility improvements and navigation components with UI enhancements
  .gitignore
  apps/public-web/.eslintrc.json
  apps/public-web/__tests__/Navigation.test.tsx
  apps/public-web/__tests__/SkipLink.test.tsx
  apps/public-web/app/layout.tsx
  apps/public-web/app/page.tsx
  apps/public-web/package.json
  apps/public-web/src/components/Button.tsx
  apps/public-web/src/components/Navigation.tsx
  apps/public-web/src/components/SkipLink.tsx
  apps/public-web/tailwind.config.js
  package.json
  pnpm-lock.yaml
  services/public-api/package.json
  services/public-api/pyproject.toml
  services/public-api/src/api/utils.py
  services/public-api/src/main.py
  services/public-api/tests/conftest.py
  services/public-api/tests/test_main.py
  tests/accessibility/wcag-compliance.spec.ts
  tests/playwright.config.ts
Due: spectral-lint, tsc-noemit, safety-check, pnpm-audit

refactor: remove unused integration test fixtures from public API service
  services/public-api/tests/integration/conftest.py
Due: safety-check

test: update health check test to use TestClient and match new endpoint response
  services/public-api/tests/integration/test_smoke.py
Due: safety-check

fix: improve navigation touch targets and skip target-size WCAG test due to WebKit issues
  apps/public-web/app/page.tsx
  apps/public-web/src/components/Navigation.tsx
  services/public-api/tests/integration/test_smoke.py
  tests/accessibility/wcag-compliance.spec.ts
Due: tsc-noemit, safety-check

refactor: consolidate test fixtures and remove poetry dependency from scripts
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  services/public-api/conftest.py
  services/public-api/package.json
  services/public-api/tests/conftest.py
  tests/config/jest.setup.js
  tests/integration/multi-tenant-isolation.test.js
  tests/security/owasp-top10.test.js
  tests/test-results.json
Due: spectral-lint, safety-check, pnpm-audit

feat: improve test setup, SEO metadata and add Poetry script prefixes
  apps/public-web/app/layout.tsx
  scripts/setup/health-checks.sh
  scripts/setup/setup-env.sh
  scripts/setup/setup-tests.sh
  scripts/setup/setup.sh
  services/public-api/package.json
  services/public-api/pyproject.toml
Due: spectral-lint, tsc-noemit, pnpm-audit

fix: make Python scripts work in CI environments without Poetry
  services/public-api/package.json
Due: spectral-lint, pnpm-audit

fix: use proper Python environment for pytest in comprehensive tests
  scripts/run-comprehensive-tests.sh
Due: none

chore: add test-results.json to gitignore and remove file
  .gitignore
  tests/test-results.json
Due: spectral-lint

chore: add webServer config to playwright tests with dev server and timeout settings
  tests/playwright.config.ts
Due: tsc-noemit

ci: remove API startup step from test workflow since it's handled in integration tests
  .github/workflows/test.yml
Due: spectral-lint

Path conditions:
  spectral-lint: any of: \.(yaml|yml|json)$
  tsc-noemit: any of: \.(ts|mts|cts)$, \.tsx$
  safety-check: any of: \.py$
  pnpm-audit: any of: package.*json$
