Repository vibebiz/vibebiz-saas-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc-noemit, spectral-lint

tsc-noemit:
  name: tsc-noemit
  entry: npx tsc --noEmit
  language: node
  pass_filenames: false

spectral-lint:
  name: Spectral API Linting
  description: Lints OpenAPI specs using Spectral, requires SPECTRAL_DSN in .env
  entry: scripts/spectral-wrapper.sh
  language: script
  require_serial: true

ci: set PYTHONPATH environment variable before test execution
  .github/workflows/test.yml
Due: spectral-lint

ci: enhance Python path debugging and fix test environment setup
  .github/workflows/test.yml
  pyproject.toml
Due: spectral-lint

feat: add integration test framework with database utilities and fixtures
  .github/workflows/test.yml
  .python-version
  CLAUDE.md
  apps/public-web/jest.config.ts
  package.json
  pnpm-lock.yaml
  pytest.ini
  services/public-api/conftest.py
  services/public-api/package.json
  services/public-api/pyproject.toml
  services/public-api/src/schemas.py
  services/public-api/tests/integration/__init__.py
  services/public-api/tests/integration/conftest.py
  services/public-api/tests/integration/test_smoke.py
  services/public-api/tests/test_utils.py
  services/public-api/tests/utils/__init__.py
  services/public-api/tests/utils/database.py
  turbo.json
Due: tsc-noemit, spectral-lint

feat: add e2e and accessibility testing with Playwright and CI workflow integration
  .github/workflows/test.yml
  apps/public-web/app/layout.tsx
  apps/public-web/e2e/accessibility.spec.ts
  apps/public-web/e2e/smoke.spec.ts
  apps/public-web/package.json
  apps/public-web/playwright-report/index.html
  apps/public-web/playwright.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: tsc-noemit, spectral-lint

feat: add e2e and accessibility testing with Playwright and CI workflow integration
  .github/workflows/test.yml
  apps/public-web/app/layout.tsx
  apps/public-web/e2e/accessibility.spec.ts
  apps/public-web/e2e/smoke.spec.ts
  apps/public-web/package.json
  apps/public-web/playwright-report/index.html
  apps/public-web/playwright.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
  vibebiz-mvp-prd-v1-1.md
Due: tsc-noemit, spectral-lint

feat: refactor test setup and add security headers for web app
  apps/public-web/__tests__/Button.test.tsx
  apps/public-web/__tests__/test-utils.ts
  apps/public-web/e2e/accessibility.spec.ts
  apps/public-web/e2e/smoke.spec.ts
  apps/public-web/jest.config.ts
  apps/public-web/jest.setup.js
  apps/public-web/next.config.js
  apps/public-web/package.json
  apps/public-web/playwright.config.ts
  apps/public-web/src/components/Button.tsx
  apps/public-web/src/components/button.config.ts
  apps/public-web/tsconfig.json
  coverage.json
  package.json
  packages/shared-types/package.json
  pnpm-lock.yaml
  poetry.lock
  pyproject.toml
  scripts/run-all-tests.sh
  services/public-api/conftest.py
  services/public-api/package.json
  services/public-api/pyproject.toml
  services/public-api/src/__init__.py
  services/public-api/src/api/__init__.py
  services/public-api/src/api/utils.py
  services/public-api/src/schemas.py
  services/public-api/tests/test_utils.py
  services/public-api/tests/utils/database.py
  services/public-api/tests/utils/schema.sql
  vibebiz-mvp-prd-v1-1.md
Due: tsc-noemit, spectral-lint

feat: refactor test setup and add security headers for web app
  apps/public-web/__tests__/Button.test.tsx
  apps/public-web/__tests__/test-utils.ts
  apps/public-web/e2e/accessibility.spec.ts
  apps/public-web/e2e/smoke.spec.ts
  apps/public-web/jest.config.ts
  apps/public-web/jest.setup.js
  apps/public-web/next.config.js
  apps/public-web/package.json
  apps/public-web/playwright.config.ts
  apps/public-web/src/components/Button.tsx
  apps/public-web/src/components/button.config.ts
  apps/public-web/tsconfig.json
  coverage.json
  package.json
  packages/shared-types/package.json
  pnpm-lock.yaml
  poetry.lock
  pyproject.toml
  scripts/run-all-tests.sh
  services/public-api/conftest.py
  services/public-api/package.json
  services/public-api/pyproject.toml
  services/public-api/src/__init__.py
  services/public-api/src/api/__init__.py
  services/public-api/src/api/utils.py
  services/public-api/src/schemas.py
  services/public-api/tests/test_utils.py
  services/public-api/tests/utils/database.py
  services/public-api/tests/utils/schema.sql
Due: tsc-noemit, spectral-lint

feat: initialize project with basic utils and test infrastructure
  .gitignore
  coverage.json
  pyproject.toml
  services/public-api/src/api/utils.py
  vibebiz_saas_template/__init__.py
Due: spectral-lint

ci: add Python setup with uv and use explicit module invocations for tools
  .github/workflows/test.yml
Due: spectral-lint

fix: update CI workflow to use correct working directory and npx for Playwright
  .github/workflows/test.yml
  pyproject.toml
Due: spectral-lint

chore: add playwright test dependency for e2e testing
  package.json
  pnpm-lock.yaml
Due: spectral-lint

chore: add @eslint/js dependency for enhanced JavaScript linting support
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: spectral-lint

fix: correct testPathPattern flag and add unit test markers
  apps/public-web/package.json
  packages/shared-types/package.json
  services/public-api/pyproject.toml
  services/public-api/tests/test_utils.py
  services/public-api/tests/utils/database.py
Due: spectral-lint

fix: update email validation to use RFC 5322 compliant regex and rebrand homepage title
  apps/public-web/app/page.tsx
  services/public-api/pyproject.toml
  services/public-api/src/api/utils.py
Due: tsc-noemit

feat: add email length validation checks in email format validator
  services/public-api/src/api/utils.py
Due: none

feat: add git cleanup script to sync and prune local branches with remote
  scripts/git_cleanup.sh
Due: none

chore: add playwright-report to gitignore and remove report file
  .gitignore
  apps/public-web/playwright-report/index.html
Due: none

chore: update playwright config and ignore test results directory
  .gitignore
  apps/public-web/playwright.config.ts
Due: tsc-noemit

chore: enhance ESLint and Jest configurations for stricter rules and improved security
  apps/public-web/next.config.js
  apps/public-web/package.json
  apps/public-web/tsconfig.json
  eslint.config.js
  jest.config.js
  jest.setup.js
  packages/types/package.json
  packages/types/tsconfig.json
  pytest.ini
  services/public-api/package.json
  services/public-api/pyproject.toml
  services/public-api/src/api/utils.py
  tests/config/jest.setup.js
  tests/tsconfig.json
  tsconfig.json
Due: spectral-lint

fix: update pnpm-lock.yaml to sync with typescript dependency
  pnpm-lock.yaml
Due: spectral-lint

fix: resolve dependency issues in pnpm-lock.yaml and ensure consistency with package.json
  services/public-api/tests/integration/test_utils_integration.py
Due: none

refactor: remove redundant nosec comments and migrate test execution to poetry
  .pre-commit-config.yaml
  services/public-api/package.json
  services/public-api/tests/integration/test_utils_integration.py
  tools/run-all-tests.sh
Due: spectral-lint

refactor: remove nosec comments from test_utils_integration masking tests
  services/public-api/tests/integration/test_utils_integration.py
Due: none

ci: skip B101 assert warnings in Bandit security scans
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: spectral-lint

Path conditions:
  tsc-noemit: any of: \.(ts|mts|cts)$, \.tsx$
  spectral-lint: any of: \.(yaml|yml|json)$
